/* :root {
    --body-bg: #fafafa;
    --body-color: #555;
    --link-color: #222;
    --link-color-hover: #000;
} */


/*=======
    Dark Mode Media Query
=============*/

@media (prefers-color-scheme: dark) {
     :root {
        --body-bg: #212529;
        --body-color: #6c757d;
        --link-color: #dee2e6;
        --link-color-hover: #fff;
    }
    img {
        opacity: .75;
        transition: opacity .5s ease-in-out;
    }
    img:hover {
        opacity: 1;
    }
    body {
        background-color: var(--body-bg);
        color: white;
    }
    .lang {
        background: var(--body-color);
    }
}


/* body {
    background-color: black;
    color: white;
}

@media screen and (prefers-color-scheme: light) {
    body {
        background-color: white;
        color: black;
    }
} */